body.darkmode .primaryNavigation {
    background-color: black;
}

body.darkmode .secondaryNavigationHeading {
    color: #ffffff;
}
body.darkmode .secondaryNavigationBackBtn i {
    color: #ffffff;
}
body.darkmode .secondaryNavigationSearch i {
    color: #ffffff;
}

/* albums page */
body.darkmode  {
    background-color: rgb(36, 16, 16);
}

body.darkmode .featuredAlbumsHeading {
    color: #ffffff;
}

body.darkmode .newAlbumsHeading {
    color: #ffffff;
}

body.darkmode .newReleaseAlbumHeading {
    color: white;
}

body.darkmode .newReleaseAlbumArtist{
    color: white;
}

body.darkmode .newReleaseAlbumSongNum {
    color: #ffffff;
}


/* category page */
body.darkmode .underCat p {
    color: #ffffff;
}
body.darkmode .underCat i {
    color: #ffffff;
}


/* playlist page */
body.darkmode .songHeading {
    color: #ffffff;
}

body.darkmode .songArtist {
    color: #ffffff;
}

body.darkmode .songPlayTime {
    color: #ffffff;
}